target/

.idea
*.iml

server.properties
banned-ips.json
banned-players.json
ops.json
help.yml
usercache.json
whitelist.json
logs/
world/
world_nether/
world_the_end/
wepif.yml
eula.txt

bukkit.yml
commands.yml
permissions.yml
spigot-1.8.8.jar
spigot.yml

plugins/FastAsyncWorldEdit/
plugins/PluginMetrics/
plugins/bStats/
plugins/HippoPractice/playerdata/*
