target/

.idea
*.iml

banned-ips.json
banned-players.json
ops.json
help.yml
server.properties
sportpaper.yml
sportpaper.jar
update
usercache.json
whitelist.json
logs/
plugins/
world/
world_nether/
world_the_end/
wepif.yml
crash-reports/
eula.txt

bukkit.yml
commands.yml
permissions.yml
spigot-1.8.8.jar
spigot.yml


