target/

.idea
*.iml

world.tar.xz

banned-ips.json
banned-players.json
ops.json
help.yml
server.properties
usercache.json
whitelist.json
logs/
plugins/
world/
world_nether/
world_the_end/
wepif.yml
eula.txt

bukkit.yml
commands.yml
permissions.yml
spigot-1.8.8.jar
spigot.yml

